
<div class="site-wrapper" ng-controller="dictionaryCtrl as dictionary">


  <div class="peekpeak-navbar">
    <a href="/"><div class="pp-nav-btn peekpeak-logo"></div></a>
    <a href="/"><div class="pp-nav-btn home"></div></a>
    <a href="/"><div class="pp-nav-btn back"></div></a>
    <a href="/playnow"><div class="pp-nav-btn playnow"></div></a>
    <a href="/story"><div class="pp-nav-btn story"></div></a>
    <a href="/dictionary"><div class="pp-nav-btn dictionary active-page"></div></a>
    <a href="/teacher"><div class="pp-nav-btn teacher"></div></a>
  </div>


  <div class="page-content">

    <div class="section">
      <p>Select a word!</p>
      <nav class="words">
        <ul class="list-group word-list">
          <button type="button" class="list-group-item word" ng-repeat="singleWord in words | orderBy:'word'" ng-click="selectWord(singleWord)" ng-class="{'active' : singleWord === currentWord}">
              {{ singleWord.word }}
          </button>
        </ul>
      </nav>
    </div>

    <div class="current">

      <div class="currentword-header"><h2> {{ currentWord.word }} </h2></div>

      <div class="info">

        <div class="previous">
          <div class="prev-next"></div>
          <div class="prev-next-btn">
            <button type="button" class="btn btn-lg btn-default" aria-label="Chevron Left" ng-click="updateprev()">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
          </div>
          <div class="prev-next">
            <p>Previous</p>
          </div>
        </div>

        <div class="info-image" ng-show="image" ng-click="showdef()">
          <img style="width: 90%; height: auto;" ng-src="{{ currentDefs[idef].image }}">
          <p>Click to see definition and synonyms!</p>
        </div>

        <div class="info-def" ng-hide="image" ng-click="showimg()">
          <p class="definition">definition: {{ currentDefs[idef].definition }}</p>
          <p class="synonym">synonyms: </p>
          <p ng-repeat="singleSyn in syns" ng-if="singleSyn.definition==currentDefs[idef].id">{{ singleSyn.word }}</p>
          <p>Click to see image!</p>
        </div>

        <div class="next">
          <div class="prev-next"></div>
          <div class="prev-next-btn">
            <button type="button" class="btn btn-lg btn-default" aria-label="Chevron Right" ng-click="updatenext()">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
          </div>
          <div class="prev-next">
            <p>Next</p>
          </div>
        </div>

      </div>
    </div>

    <div class="mastfoot">
      <div class="inner">
        <div ng-click="userLogout()" class="logo"></div>
      </div>
    </div>

  </div>




</div>
