
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <div class="masthead-brand"><a href="/" class="btn btn-lg btn-pp"></a></div>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="/playnow" class="btn btn-lg btn-play"></a></li>
              <li class="active"><a href="/dictionary" class="btn btn-lg btn-dict"></a></li>
              <li><a href="/story" class="btn btn-lg btn-story"></a></li>
              <li><a href="/teacher" class="btn btn-lg btn-teacher"></a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Peek Peak</h1>
        <p class="lead">This is the Dictionary page</p>
        <!-- <p class="lead">
          <a href="#" class="btn btn-lg btn-default">Learn more</a>
        </p> -->
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Created by SpeakSoft 2016</p>
        </div>
      </div>

    </div>

  </div>

</div>
