
<div class="site-wrapper" ng-controller="dictionaryCtrl as dictionary">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <div class="masthead-brand"><a href="/" class="btn btn-lg btn-pp"></a></div>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="/playnow" class="btn btn-lg btn-play"></a></li>
              <li class="active"><a href="/dictionary" class="btn btn-lg btn-dict"></a></li>
              <li><a href="/story" class="btn btn-lg btn-story"></a></li>
              <li><a href="/teacher" class="btn btn-lg btn-teacher"></a></li>
            </ul>
          </nav>
        </div>
      </div>

      <h2 class="currentword-header"> {{ currentWord.word }} </h2>

      <nav class="words">
        <ul class="list-group word-list">
          <button type="button" class="list-group-item word" ng-repeat="singleWord in words | orderBy:'word'" ng-click="selectWord(singleWord)">
              {{ singleWord.word }}
          </button>
        </ul>
      </nav>

      <div class="definitions">
        <div class="definition-inside">
          <span class="definition md-col-6" ng-repeat="singleDef in defs" ng-if="singleDef.word==currentWord.id">
            {{ singleDef.definition }}
          </span>
        </div>
      </div>


      <div class="mastfoot">
        <div class="inner">
          <div class="logo"></div>
        </div>
      </div>

    </div>

  </div>

</div>
