<!--
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container"> -->

      <!-- <div class="masthead clearfix">
        <div class="inner-nav">
          <h2 class="masthead-brand"><a href="/">Peek Peak</a></h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="/playnow">Play now!</a></li>
              <li><a href="/flashcards">Flashcards</a></li>
              <li><a href="/story">Story Mode</a></li>
              <li><a href="/teacher">Teacher Mode</a></li>
            </ul>
          </nav>
        </div>
      </div> -->

      <!-- <div class="inner cover"> -->
        <!-- <h1 class="cover-heading">Peek Peak</h1> -->
        <div class="button-container">
          <div class="row row-spacing">
            <div class="col-xs-6 col-lg-4"><a href="/playnow" class="btn btn-lg btn-play"></a></div>
            <div class="col-xs-6 col-lg-4"><a href="/dictionary" class="btn btn-lg btn-dict"></a></div>
          </div>
          <div class="row row-bottom-margin">
            <div class="col-xs-6 col-lg-4"><a href="/story" class="btn btn-lg btn-story"></a></div>
            <div class="col-xs-6 col-lg-4"><a href="/teacher" class="btn btn-lg btn-teacher"></a></div>
          </div>
        </div>

    <!-- </div>

  </div>

</div> -->
