
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner-nav">
          <h2 class="masthead-brand"><a href="/">Peek Peak</a></h3>
          <nav>
            <ul class="nav masthead-nav">
              <!-- <li class="active"><a href="/">Home</a></li> -->
              <li><a href="/playnow">Play now!</a></li>
              <li><a href="/flashcards">Flashcards</a></li>
              <li><a href="/story">Story Mode</a></li>
              <li><a href="/teacher">Teacher Mode</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Peek Peak</h1>
        <div class="button-container">
          <div class="row row-spacing">
            <div class="col-xs-6 col-lg-4"><a href="/playnow" class="btn btn-lg btn-play">Play Now!</a></div>
            <div class="col-xs-6 col-lg-4"><a href="/flashcards" class="btn btn-lg btn-flash">Flashcards</a></div>
          </div>
          <div class="row row-bottom-margin">
            <div class="col-xs-6 col-lg-4"><a href="/story" class="btn btn-lg btn-story">Story Mode</a></div>
            <div class="col-xs-6 col-lg-4"><a href="/teacher" class="btn btn-lg btn-teacher">Teacher Mode</a></div>
          </div>
        </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Created by SpeakSoft 2016</p>
        </div>
      </div>

    </div>

  </div>

</div>
