<div class="button-container">
  <a href="/playnow" class="btn btn-lg btn-play"></a>
  <a href="/dictionary" class="btn btn-lg btn-dict"></a>
  <a href="/story" class="btn btn-lg btn-story"></a>
  <a href="/teacher" class="btn btn-lg btn-teacher"></a>
</div>
