
<div class="site-wrapper" ng-controller="playnowCtrl as playnow">



  <div class="masthead clearfix">
    <div class="masthead-brand"><a href="/" class="btn btn-lg btn-pp"></a></div>
    <nav>
      <ul class="nav masthead-nav">
        <li class="active"><a href="/playnow" class="btn btn-lg btn-play"></a></li>
        <li><a href="/Dictionary" class="btn btn-lg btn-dict"></a></li>
        <li><a href="/story" class="btn btn-lg btn-story"></a></li>
        <li><a href="/teacher" class="btn btn-lg btn-teacher"></a></li>
      </ul>
    </nav>
  </div>


  <div class="mastfoot">
    <div class="inner">
      <div class="logo"></div>
    </div>
  </div>


</div>
