
<div class="site-wrapper">

  <div class="peekpeak-navbar">
    <a href="/"><div class="pp-nav-btn peekpeak-logo"></div></a>
    <a href="/"><div class="pp-nav-btn home"></div></a>
    <a href="/"><div class="pp-nav-btn back"></div></a>
    <a href="/playnow"><div class="pp-nav-btn playnow"></div></a>
    <a href="/story"><div class="pp-nav-btn story"></div></a>
    <a href="/dictionary"><div class="pp-nav-btn dictionary"></div></a>
    <a href="/teacher"><div class="pp-nav-btn teacher active-page"></div></a>
  </div>

  <div class="page-content">







    <div class="mastfoot">
      <div class="inner">
        <div class="logo"></div>
      </div>
    </div>

  </div>



</div>
