/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

.button-container {
  width: 50%;
  height: 220px;
  position: absolute;
  top: 60%;
  left: 25%;
  overflow-y:scroll;
  background-color: transparent;
}

.button-container > a {
  margin: 8px;
}

/* Play Now! button */
.btn-play,
.btn-play:hover,
.btn-play:focus {
  background-image: url("../buttons/PlayNow.png");
  background-size: 100% 100%;
  background-color: #fff;
  border: 2px solid black;
  width: 200px;
  height: 90px;
}

.btn-dict,
.btn-dict:hover,
.btn-dict:focus {
  background-color: #fff;
  background-image: url("../buttons/Dictionary.png");
  background-size: 100% 100%;
  border: 2px solid black;
  width: 200px;
  height: 90px;
}

.btn-story,
.btn-story:hover,
.btn-story:focus {

  background-color: #fff;
  background-image: url("../buttons/Story.png");
  background-size: 100% 100%;
  border: 2px solid black;
  width: 200px;
  height: 90px;
}

.btn-teacher,
.btn-teacher:hover,
.btn-teacher:focus {
  text-shadow: none; /* Prevent inheritence from `body` */
  text-align: center;
  background-color: #fff;
  background-image: url("../buttons/Teacher.png");
  background-size: 100% 100%;
  border: 2px solid black;
  width: 200px;
  height: 90px;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  overflow-y: hidden;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-image: url("../backgrounds/PP_Homepage.PNG");
  background-size: 100% 100%;
}
