/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  overflow-y: hidden;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-image: url("../backgrounds/homepage_background.png");
  background-size: 100% 100%;
  
}

.button-container {
  width: 50%;
  height: 220px;
  position: absolute;
  top: 60%;
  left: 25%;
  overflow-y:scroll;
  background-color: transparent;
}

.button-container > a {
  margin: 8px;
}

/* Play Now! button */
.btn-play,
.btn-play:hover,
.btn-play:focus {
  background-image: url("/buttons/playnow_button.png");
  background-size: 100% 100%;
  background-color: rgb(255, 245, 104);
  border: 2px solid black;
  width: 200px;
  height: 90px;
}


.btn-story,
.btn-story:hover,
.btn-story:focus {
  background-image: url("/buttons/story_button.png");
  background-size: 100% 100%;
  background-color: rgb(0, 33, 87);
  border: 2px solid black;
  width: 200px;
  height: 90px;
}

.btn-dict,
.btn-dict:hover,
.btn-dict:focus {
  background-image: url("/buttons/dict_button.png");
  background-size: 100% 100%;
  background-color: rgb(161, 134, 190);
  border: 2px solid black;
  width: 200px;
  height: 90px;
}

.btn-teacher,
.btn-teacher:hover,
.btn-teacher:focus {
  background-image: url("/buttons/teach_button.png");
  background-size: 100% 100%;
  background-color: rgb(165, 195, 208);
  border: 2px solid black;
  width: 200px;
  height: 90px;
}
