 /*
  * Body
  */
.unit-select {
  height: 5%;
  width: 100%;
  float: left;
}

.question {
  height: 85%;
  width: 100%;
  border: white 2px solid;
  float: left;
  overflow-y: hidden;
}

.innerQ {
  height: 90%;
  width: 100%;

}

.answer {
  height: 10%;
  width: 100%;
}

.contrast {
  color: black;
}

.matchQ {
  height: 10%;
  width: 100%;
  float: left;
}

.matchLeft {
  height: 90%;
  width: 60%;
  float: left;
}

.matchRight {
  height: 90%;
  width: 40%;
  float: left;
}
