/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: rgb(109, 208, 247);
}
body {
  color: rgb(244, 244, 244);
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* Padding for spacing */
.inner {
  padding: 10px;
}

/*
 * Navbar
 */
 .peekpeak-navbar {
   height: 12%;
   width: 100%;
   background-color: rgb(109, 208, 247);
   border-left: transparent 2px solid;
   border-right: transparent 2px solid;
 }

 .pp-nav-btn {
   margin-top: 3px;
   height: 90%;
   width: 13.95%;
   float: left;
   margin-left: .3%;
   /*border-top: transparent 3px solid;
   border-bottom: transparent 3px solid;
   border-left: transparent 2px solid;
   border-right: transparent 2px solid;*/
   background-repeat: no-repeat;
 }

 .peekpeak-logo {
   background-image: url("/buttons/pp_button.png");
   background-size: 100% 100%;

 }

 .home {
   background-image: url("/buttons/home_button.png");
   background-color: rgb(163, 212, 156);
   background-size: 100% 100%;
 }

 .back {
   background-image: url("/buttons/back_button.png");
   background-color: rgb(247, 151, 121);
   background-size: 100% 100%;
 }

 .playnow {
   background-image: url("/buttons/playnow_button.png");
   background-color: rgb(255, 245, 104);
   background-size: 100% 100%;
 }

 .story {
   background-image: url("/buttons/story_button.png");
   background-color: rgb(0, 33, 87);
   background-size: 100% 100%;
 }

 .dictionary {
   background-image: url("/buttons/dict_button.png");
   background-color: rgb(161, 134, 190);
   background-size: 100% 100%;
 }

 .teacher {
   background-image: url("/buttons/teach_button.png");
   background-color: rgb(165, 195, 208);
   background-size: 100% 100%;

 }

 .active-page {
   border-bottom: white 5px dotted;
 }


/*
 * Body
 */
 .page-content {
   width: 100%;
   height: 88%;
   position: absolute;
   background-image: url("/backgrounds/page_background-1.png");
   background-size: 100% 100%;
   background-repeat: no-repeat;
 }





 /*
  * Footer
  */

 .mastfoot {
   color: #999; /* IE8 proofing */
   color: rgba(255,255,255,.5);
 }


 /*
  * Affix and center
  */

 @media (min-width: 768px) {
   /* Pull out the header and footer */
   .mastfoot {
     position: fixed;
     bottom: 0;
   }

   .logo {
     width: 100px;
     height: 20px;
     background-image: url("../backgrounds/logo.png");
     background-size: 100% 100%;
     margin-left: 90%;
   }

   /* Handle the widths */
   .mastfoot {
     width: 100%; /* Must be percentage or pixels for horizontal alignment */
   }
 }

 @media (min-width: 992px) {
   .mastfoot {
     width: 100%;
   }
 }
